@using LibraryManagementSystem2.Models.Entity
@model List<TBLMOVEMENT>
@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/_LayoutMyPanel.cshtml";
}

<h2>My Book History</h2>

<table class="table table-bordered">
    <tr>
        <th>Book Name</th>
        <th>Borrow Date</th>
        <th>Member Return Date</th>
    </tr>
    @foreach (var b in Model)
        {
            <tr>
                <td>@b.TBLBOOK.NAME</td>
                <td>@Convert.ToDateTime(b.BORROWDATE).ToString("dd/MM/yyyy")</td>
                <td>@Convert.ToDateTime(b.MEMBERRETURNDATE).ToString("dd/MM/yyyy")</td>
            </tr>
        }
</table>

