@using LibraryManagementSystem2.Models.Entity
@model List<TBLANNOUNCEMENTS>
@foreach (var x in Model)
{
    string color = "";
    if (x.CATEGORY == "New book")
    {
        color = "bg-primary text-white";
    }
    if (x.CATEGORY == "Bring the books on time")
    {
        color = "bg-success text-white";
    }
    if (x.CATEGORY == "Communication")
    {
        color = "bg-info text-white";
    }
    if (x.CATEGORY == "Other")
    {
        color = "bg-danger text-white";
    }
    <div class="post">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="~/AdminLTE-3.0.4/dist/img/2.png" alt="user image">
            <span class="username">
                <a href="#" class="@color"> @x.CATEGORY</a>
                <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
            </span>
            <span class="description">@x.DATE.ToString()</span>
        </div>
        <!-- /.user-block -->
        <p>
            @x.CONTENTS
        </p>
    </div>
}
